<p>
本ページは、<strong><a href="http://yapcasia.org/2012/">YAPC::Asia2012</a></strong>にて発表/告知しました、
<a href="http://www.gaiax.co.jp/jp/">株式会社ガイアックス</a>と、<a href="https://codeiq.jp/">CodeIQ</a>のコラボ企画ページです。
</p>

<p>
以下のURLから見ることができる問題に挑戦してください。<br>
<a href="https://codeiq.jp/rule.php?challenge_id=51" target="_blank">https://codeiq.jp/rule.php?challenge_id=51</a>
</p>

<p>
挑戦頂いたコードは、弊社にて確認後、<br>
同一の環境でベンチマーク測定し、上記に公開していきます。
</p>

<h3>【ご注意】</h3>
<ul>
    <li>言語は、perl, ruby, PHP, javascript, pythonにて受け付けます</li>
    <li>言語間の速度の差については、揃える努力をしていません。<br>どの言語を選ぶかも含めて速さを追及してください。</li>
    <li>更新は残念ながら手動となっております^^;　一日数回<b>鋭意！</b>更新いたします。</li>
    <li>挑戦頂いたコードは、公開させて頂きます。<br>コードの公開にご了承いただけない場合は、非公開にいたしますので<br>以下までご連絡ください。</li>
    <li>その他のお問い合わせについても以下までお願いします。<br><br>お問い合わせ先：<a href="mailto:codeiq@gaiax.com">codeiq@gaiax.com</a></li> </ul>
<h3>【FAQ】</h3>
<ul>
  <li>Q. 不正解の場合は？i<br />
      A. 不正解の方はリストにニックネームを掲載します。再度codeをお送り頂ければ更新します。晒してしまっているようで申し訳ないですが他に手段なく申し訳ありません。。</li>
    <li>随時追加いたします。</li>
</ul>
<h3>【登録済みファイル一覧】</h3>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>File</th>
      <th>Recent score</th>
      <th>Console</th>
    </tr>
  </thead>
  <tbody>
  <% @scripts.each do |script| %>
      <tr>
        <td><%= link_to script.file, "/#{script.id}" %></td>
        <td style="text-align:right;"><%= '%0.5f' % script.recent %></td>
        <td>
          <%= link_to '/' + script.id.to_s, :class => 'btn btn-mini btn-primary' do %>
            <i class="icon-file"></i> 詳細を見る
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/>
<h3>【不正解の方リスト】</h3>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ひらくん さん</td><td>09/27 18:50</td></tr>
  </tbody>
</table>
